
/*---------------------------WTC_1_create_but---------------------------------*/
/*---------------------------index.php---------------------------------*/


.WTK_index_body{
    background-image: url(../WC_1_img/WC_1_mountains.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.WTK_index_div {  
    display: flex;
    justify-content: center;  
}

.WTK_index_div button{
    margin: 50px;
    height: 300px;
    width: 300px;
    background-color: yellow;
    color: red;
    font-size: 20px;
    border-radius: 50%;
    animation: rotate-color 10s linear infinite;
}
/*--------------------------index.php END----------------------------------*/
/*---------------------------WTC_1_create_but----END-----------------------------*/



@keyframes rotate-color {
	0% {
	  transform: rotate(0deg);
	  background-color: blue;
	}
	10% {
	  transform: rotate(10deg);
	  background-color: purple;
	}
	20% {
	  transform: rotate(20deg);
	  background-color: pink;
	}
	30% {
	  transform: rotate(30deg);
	  background-color: red;
	}
	40% {
	  transform: rotate(40deg);
	  background-color: yellow;
	}
	50% {
	  transform: rotate(50deg);
	  background-color: orange;
	}
	60% {
	  transform: rotate(60deg);
	  background-color: green;
	}
	70% {
	  transform: rotate(70deg);
	  background-color: brown;
	}
	80% {
	  transform: rotate(80deg);
	  background-color: cyan;
	}
	90% {
	  transform: rotate(90deg);
	  background-color: lime;
	}
	100% {
	  transform: rotate(360deg);
	  background-color: blue;
	}
  }