

/*-----------------WC_2_start.php-----------------------------*/
.WC_2_start_class_html{
  display: flex;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.WC_2_start_class_html form{ 
    border: 2px solid red;
}

.WC_2_start_class_html div:nth-child(1){
  text-align: center;
}


/*-------------------WC_2_start.php END----------------------*/


/*-------------------WC_2_menu_create----------------------*/
.WC_2_menu_create_container {
  display: flex;
  height: 100vh;
  background-color: darkslategray;
}
.WC_2_menu_create_Menu {
  width: 10%;
  background-color: cadetblue;
  border:2px solid red;
}
.WC_2_menu_create_content {
  width: 90%;
  background-color: aquamarine;
  border:2px solid red;
}