.BT_Class_Name{
    border: 2px solid blue;
}

th{
    border: 2px solid red;
}

td{
    border: 2px solid chartreuse;
    text-align: center;
}


/*---------------------------index.php---------------------------------*/

.WTK_index_body{
    background-image: url(/WTC_img/WTC_mountains.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.WTK_index_div {  
    display: flex;
    justify-content: center;  
}

.WTK_index_div button{
    margin: 50px;
    height: 300px;
    width: 300px;
    background-color: yellow;
    color: red;
    font-size: 20px;
    border-radius: 50%;
}
/*--------------------------index.php END----------------------------------*/