.BT_Class_Name{
    border: 2px solid blue;
}

th{
    border: 2px solid red;
}

td{
    border: 2px solid chartreuse;
    text-align: center;
}


/*---------------------------index.php---------------------------------*/

.WTK_index_body{
    background-image: url(/WTC_img/WTC_mountains.jpg);
}

.WTK_index_div {
    height: 500px;
    display: flex;
    justify-content: center;
    background: rebeccapurple;    
}

.WTK_index_div button{
    margin: 50px;
    height: 300px;
    width: 300px;
}
/*--------------------------index.php END----------------------------------*/