.BT_Class_Name{
    border: 2px solid blue;
}

th{
    border: 2px solid red;
}

td{
    border: 2px solid chartreuse;
    text-align: center;
}



.WTK_index_div {
    height: 500px;
    display: flex;
    justify-content: center;
    background: rebeccapurple;    
}
