/*-----------------------Start Select Blok---------------------------------*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

#html-input-date{
 /*border: 1px solid blueviolet;*/
 text-align: center;
}


#html-blok1_zagolovok{
  width: 100%;
  background-color: #2ba0e666;
  height: 10%;
  border-bottom: 5px solid rgb(193, 140, 12);
  text-align: center;
}

#html-blok2_vnesennya{
  width: 70%;
  background-color: #e8a6095c;
  height: 75%;
  border-right: 5px solid rgb(193, 140, 12);
  overflow-y: auto;
}

#html-blok3_dani_user{
  width: 29%;
  height: 75%;
  overflow-y: auto;
  background: #3bcc1d47;
}

#resultDiv{
  position: relative;
  border-top: 5px solid rgb(193, 140, 12);
  width: 100%;
  height: 13%;
  background-color: #fff77f;
}

#loading-krok1{
  text-align: center;
}

#divSelectKrok2 table {
  margin: 0 auto;
}

#divSelectKrok2 select {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#phpTableUserDate {
  background-color: #f2f2f2; /* Колір фону для заголовків (необов'язково) */ 
  width: 100%;
  max-width: 800px; /* Змініть це значення на бажану максимальну ширину */
  margin: 0 auto; /* Це центрує таблицю в батьківському контейнері */
  border-collapse: collapse;
  
}

#phpTableUserDate th,#phpTableUserDate td {
  border: 1px solid darkblue; /* Товщина і колір меж для комірок */
 /* padding: 8px; /* Додайте внутрішній відступ для тексту у комірках */

}


@keyframes changeGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

#DivInsert {
  position: absolute;
  border-radius: 45%;
  border: 4px solid aliceblue;
  text-align: center;
  top: 10%;
  left: 35%;
  background: linear-gradient(45deg, #6d26df, rgb(253, 215, 7), rgb(34, 180, 216), #61df26);
  background-size: 200% 200%;
  animation: changeGradient 4s infinite linear; /* Лінійна анімація для плавного переходу */
}

#DivInsert h1{
  padding: 10px;
}

#Krok2-Input{
  width: 500px;
  height: 50px;
  resize: none;
}


/*-------------------Таблиця про службові -------------------------------*/

[id^="dani-slugbova"] {
  border-collapse: collapse;
}

[id^="dani-slugbova"] th,
[id^="dani-slugbova"] td {
  border: 1px solid darkblue;
}


#dani-slugbova-slid{
background-color: lightgray;
text-align: center;
}
/*-------------------------------*/

