/*-----------------------Start Select Blok---------------------------------*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

#html-input-date{
 border: 1px solid blueviolet;
}


#html-blok1_zagolovok{
  width: 100%;
  background-color: aquamarine;
  height: 15%;
  border: 1px solid blue;
}

#html-blok2_vnesennya{
  width: 70%;
  background-color: #e8a6095c;
  height: 70%;
  border: 1px solid blue;
  overflow-y: auto;
}

#html-blok3_dani_user{
  border: 1px solid red;
  width: 29%;
  height: 70%;
  overflow-y: auto;
  background: #3bcc1d47;
}

#resultDiv{
  border: 1px solid red;
  width: 100%;
  height: 15%;
}

#loading-krok1{
  text-align: center;
}

#html-input-date{
  text-align: center;
}

#divSelectKrok2 table {
  margin: 0 auto;
}

#divSelectKrok2 select {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#phpTableUserDate {
  background-color: #f2f2f2; /* Колір фону для заголовків (необов'язково) */ 
  width: 100%;
  max-width: 800px; /* Змініть це значення на бажану максимальну ширину */
  margin: 0 auto; /* Це центрує таблицю в батьківському контейнері */
  border-collapse: collapse;
  
}

#phpTableUserDate th,#phpTableUserDate td {
  border: 1px solid darkblue; /* Товщина і колір меж для комірок */
 /* padding: 8px; /* Додайте внутрішній відступ для тексту у комірках */

}






/*-----------------------END Select Blok---------------------------------*/

.table-row div {
  display: table-cell;
  padding: 5px;
}
    /*--------------------old-----------------------*/
    
    #name-h1{
      text-align: center;
    }

    #code-input {
      width: 99%;
      height: 100px;
      resize: none; /* Заборонити змінювати розмір */    
    }

    #submit-btn{
      width: 99%; 
      font-size: 24px;
      color: darkred;
      border: 2px solid darkmagenta;
    }
    #submit-btn:hover{
      background-color: burlywood;
    }

    #export-btn{
      width: 99%; 
      font-size: 24px;
      color: blue;
      border: 4px solid darkgreen;
    }
    #export-btn:hover{
      background-color: burlywood;
    }

    #code-table {
      margin-top: 20px;
      border-collapse: collapse;
    }

    #code-table th,
    #code-table td {
      padding: 5px;
      border: 1px solid black;
    }

    #error-code-table {
      margin-top: 20px;
      border-collapse: collapse;
    }

    #error-code-table th,
    #error-code-table td {
      padding: 5px;
      border: 1px solid black;
    }


    #table-good{
      background-color: greenyellow;
      overflow-x: auto;
    }
    
    #table-error{
      background-color: red;
      overflow-x: auto;
    }

    #table-good th, 
    #table-error th{
      font-size: 30px;
    /*  text-align: left;*/
    }
    #table-data{
      border: 6px solid blue;      
      overflow-x: auto; 
    }
/*=========================================================*/
.error{
  color: red;
  font-size: 30px;
}

/*=========================================================*/
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;

}

#loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  animation: blinkBorder 2s infinite;
  border-radius: 30%;
}

@keyframes blinkBorder {
  0% {
    border: 30px solid chartreuse;
  }
  50% {
    border: 20px solid blue;
  }
  100% {
    border: 10px solid green;
  }
}

