/*---------------------5_5_Slyshbovi_roli_vuborki_start.html------------------------------*/

#container_vuborki{
  height: 98vh;
  background-color: blanchedalmond;
}


@keyframes blok_select_bacground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
 /* 100% {
    background-position: 0% 0%;
  }*/
}

#blok_select{
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/WC_ALL_Modules/6_Slyshbovi_roli_vuborki/img/images.jpg'); /* Додайте шлях до свого файлу зображення */
  /*background: linear-gradient(45deg,rgb(34, 180, 216), rgb(253, 215, 7), #61df26,  rgb(34, 180, 216));*/
  background-size: 200% 200%;
  animation: blok_select_bacground 30s infinite linear; /* Лінійна анімація для плавного переходу */
}


#blok_select select{
  font-size: 20px;
}

#blok-rez{
  width: 100%;
  height: 80%;
  background-color: #35c7d794;
  overflow-y: auto;
}

#div-dani{
  position: sticky;
  top: 0px; /* Регулюйте це значення відповідно до ваших потреб */
  background-color: antiquewhite;; /* Фон заголовків, які мають залишатися видимими */
  z-index: 99; /* Значення z-index менше, ніж у блоку #blok_select, але більше, ніж у решти контенту */
}


#table-th, #dani-slugbova {
  width: 100%;
  table-layout: fixed; /* Забезпечує однакову ширину стовпців */
  border-collapse: collapse;
}

#dani-slugbova td{
    /* Забезпечення переносу тексту на новий рядок, якщо він не поміщається */
    word-wrap: break-word;

    /* Або можна використати white-space: nowrap; для відключення автоматичного переносу тексту */
    /*white-space: nowrap;

    /* Забезпечення відображення зсуву тексту, який виходить за межі */
    /*overflow: hidden;*/
}

#table-th th,#table-th td, #dani-slugbova th, #dani-slugbova td {
  border: 1px solid darkblue;
  padding: 8px;
}
#table-th input, #table-th select{
  width: 95%;
}

#blok_button{
  text-align: center;
}
/*--------------button edit save delete----------------*/
#but-Edit{
  background-color: cornflowerblue;
}

#but-Del{
  background-color: red;
}

#but-Save{
  background-color: chartreuse;
}
.edit-input{
  width: 100%;
}
/*-----------------------------------------------------*/

/*---------------------end 5_5_Slyshbovi_roli_vuborki_start.html------------------------------*/

#blok-show {
  display: none; 
  /*width: 500px;
  height: 400px;*/
  background-color: beige;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*transform: translate(-50%, -50%) rotateY(30deg) rotateX(30deg);*/
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 999;
  transition: transform 0.3s ease; /* Додайте плавні переходи */
}

#blok-show:hover {
  transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg);
}

#data-update-slugbova{
  border: 1px solid blue;
  border-collapse: collapse;
 /* text-align: center;*/
  margin: 5%;
}

#data-update-slugbova tr, #data-update-slugbova td{
  border: 1px solid blue;
}

#data-update-slugbova td:first-child {
  /* Ваші стилі для першої колонки тут */
  width: 150px;
  font-weight: bold;
  background-color: beige;  
}
  
#dani-slugbova td:last-child{
  text-align: center;
}

#data-update-slugbova td:not(:last-child) {
    color: blue;
}

#id-edit-btn{
  width: 50%;
}

.save-btn{
  background-color: green;
}

.cancel-btn{
  background-color: red;
}
