#upperDiv{
  padding-top: 5%;
  border: 5px solid blue;
  text-align: center;
  justify-content: center;
  height: 10%;
}


#lowerDiv {
  display: flex;
  flex-direction: column;
 /* justify-content: center;*/
  align-items: center;
  height: 100vh; /* Встановіть висоту, що вам потрібна */
}

#EchoDate {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;

}

#loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  animation: blinkBorder 2s infinite;
  border-radius: 30%;
}

@keyframes blinkBorder {
  0% {
    border: 30px solid chartreuse;
  }
  50% {
    border: 20px solid blue;
  }
  100% {
    border: 10px solid green;
  }
}