    #name-h1{
      text-align: center;
    }

    #code-input {
      width: 99%;
      height: 200px;
    }

    #submit-btn{
      width: 99%; 
      font-size: 24px;
      color: darkred;
      border: 2px solid darkmagenta;
    }
    #submit-btn:hover{
      background-color: burlywood;
    }

    #export-btn{
      width: 99%; 
      font-size: 24px;
      color: blue;
      border: 4px solid darkgreen;
    }
    #export-btn:hover{
      background-color: burlywood;
    }

    #code-table {
      margin-top: 20px;
      border-collapse: collapse;
    }

    #code-table th,
    #code-table td {
      padding: 5px;
      border: 1px solid black;
    }

    #error-code-table {
      margin-top: 20px;
      border-collapse: collapse;
    }

    #error-code-table th,
    #error-code-table td {
      padding: 5px;
      border: 1px solid black;
    }


    #table-good{
      background-color: greenyellow;
      overflow-x: auto;

    }

    #table-error{
      background-color: red;
      overflow-x: auto;
    }

    #table-good th, 
    #table-error th{
      font-size: 30px;
    /*  text-align: left;*/
    }
/*=========================================================*/
.error{
  color: red;
  font-size: 30px;
}

/*=========================================================*/
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;

}

#loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  animation: blinkBorder 2s infinite;
  border-radius: 30%;
}

@keyframes blinkBorder {
  0% {
    border: 30px solid chartreuse;
  }
  50% {
    border: 20px solid blue;
  }
  100% {
    border: 10px solid green;
  }
}

